<div class="body-component">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="'../../../../assets/img/bg-header.jpg'" alt="Random third slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="'../../../../assets/img/subsidio-covid.jpg'" alt="Random second slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="'../../../../assets/img/prosperidad.png'" alt="Random third slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="'../../../../assets/img/Banner-Ingreso-Solidario.jpg'" alt="Random first slide">
          </div>
        </ng-template> 
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="'../../../../assets/img/familias.webp'" alt="Random first slide">
            </div>
          </ng-template>        
    </ngb-carousel>
    <br>
    <h2>Noticias</h2>
    <mat-card class="example-card noticias">
        <mat-card-title-group>
          <mat-card-title>La Cruz Roja Colombiana busca recursos para apoyar a la niñez del país</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            La Cruz Roja Colombiana confirmó que actualmente ha logrado ayudar a 3.329 niños y niñas víctimas del conflicto armado en el territorio nacional y precisamente en los albergues y programas de Bogotá y Cundinamarca hay 2.408 niños que hacen parte estrategias psicosociales y pedagógicas.
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card noticias">
        <mat-card-title-group>
          <mat-card-title>La violencia en Colombia aumentó durante el Gobierno de Iván Duque</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            En los cuatro años de la presidencia, que está por terminar, se incrementó el impacto en la población civil de la guerra entre grupos armados, señala un informe de la Fundación Ideas para la Paz
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card noticias">
        <mat-card-title-group>
          <mat-card-title>“Sáquennos de su guerra”, el grito de una joven víctima de violencia en Colombia</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            A Mayerly Briceño se le escucha por teléfono tan indignada como se le ve en los videos, que en las últimas semanas la han vuelto popular. “El pueblo tiene miedo, pero no nos vamos a resignar y no vamos permitir volver a revivir esa época de dolor y de violencia que ya hemos vivido. El pueblo no está dispuesto a seguir derramando sangre”, dice mirando a la cámara. Detrás de ella caminan decenas de personas vestidas de blanco y con carteles que piden paz. Su región, Arauca, en la frontera con Venezuela, ha vivido un violento inicio de año. El tercer día de enero se registraba el asesinato de más de 30 personas en medio de la disputa territorial entre guerrilleros del ELN y disidencias de las antiguas FARC. “Al menos 400 personas han tenido que desplazarse”, apunta Briceño que, con 26 años, sabe bien qué es tener que huir por la guerra.
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card noticias fin">
        <mat-card-title-group>
          <mat-card-title>Una persona desapareció cada dos días en Colombia durante 2021: CICR</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            El Comité Internacional de la Cruz Roja (CICR) presentó su informe sobre el balance de la situación humanitaria en Colombia durante el 2021 y los retos que tiene el país de cara al 2022. En su año de trabajo, el CICR constató un agravamiento de la violencia y el conflicto armado en el país (en comparación con el 2020), aumentando a su vez el número de víctimas.
        </mat-card-content>
    </mat-card>
</div>